<!DOCTYPE html>
<!-- User account registration page -->
<!-- Source: https://flask.palletsprojects.com/en/2.1.x/tutorial/templates/ -->

<style>

</style>

{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Log In{% endblock %}</h1>
{% endblock %}

{% block content %}

<div>
  <div class="login" >
    <h2 style="color:white">Log In</h2>
    <form method="post">
      <label for="username">Username</label>
      <input type="text" name="username" id="username" required>
      <label for="password">Password</label>
      <input type="password" name="password" id="password" required>
      <input type="submit" value="Log In">
    </form>
  </div>
</div>


{% endblock %}
