/* Source: https://flask.palletsprojects.com/en/2.1.x/tutorial/static/ */

html {
  font-family: 'Nunito', sans-serif;
  background: #eee;
  /* padding: 1rem; */
}

body {
  max-width: 1100px;
  margin: 0 auto;
  min-height: 100vh;
  background: white;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Nunito';
  color: #4854fc;
  margin: 1rem 0;
}

a {
  text-decoration: none;

  transition-property: font-size;
  transition-property: color;
  transition-duration: 0.7s;
  font-size: 16px;
  color: #4854fc;
}


a:hover {
  transition-property: font-size;
  transition-duration: 0.7s;
  font-size: 18px;
  text-decoration: underline;
}

hr {
  border: none;
  border-top: 1px solid lightgray;
}

nav {
  background: rgb(254, 250, 255);
  display: flex;
  align-items: center;
  /* padding: 0 0.5rem; */
  padding: 20px;
}

.navitems {
  flex: auto;
  margin: 0;
}

#navWordSalad {
  text-decoration: none;
  padding: 0.25rem 0.5rem;
  font-size: 24pt;
}

nav ul  {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li a, nav ul li span {
  display: block;
  padding: 0.5rem;
}

.content {
  padding: 0 1rem 1rem;
}

.content > header {
  border-bottom: 1px solid lightgray;
  display: flex;
  align-items: flex-end;
}

.content > header h1 {
  flex: auto;
  margin: 1rem 0 0.25rem 0;
}

.flash {
  margin: 1em 0;
  padding: 1em;
  background: #cae6f6;
  border: 1px solid #377ba8;
}

.decks > header > div:first-of-type {
  flex: auto;
}


.decks .about {
  color: slategray;
  font-style: italic;
}

.decks .body {
  white-space: pre-line;
}

.content:last-child {
  margin-bottom: 0;
}

.content form {
  margin: 1em 0;
  display: flex;
  flex-direction: column;
}

.content label {
  font-weight: bold;
  margin-bottom: 0.5em;
}

.content input, .content textarea {
  margin-bottom: 1em;
}

.content textarea {
  min-height: 12em;
  resize: vertical;
}

input.danger {
  color: #cc2f2e;
}

input[type=submit] {
  align-self: start;
  min-width: 10em;
}


.createdeck, .editdeck, .register, .login, .addcard, .uploadcsv {
  max-width: 350px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: #6771f7;
  color: white;
  padding: 10px;
  border-radius: 4px;
  text-align: center;
}

input[type=text]{
  margin: 0px 50px;
  margin-bottom: 10px;
  height: 30px;
}
input[type=password]{
  margin: 0px 50px;
  margin-bottom: 10px;
  height: 30px;
}
input[type=desc]{
  margin: 0px 50px;
  margin-bottom: 10px;
}


input[type = submit]{
  margin: 0px auto;
  margin-top: 20px;
  border-radius: 4px;
  border-color: white;
  border-style: solid;
  background-color: white;
  font-size: 14pt;
  color: #6771f7;
  height: 40px;
}

input[type = submit]:hover{
box-shadow: 0 -4px black;
}

button[type = redirect]{
  margin: 0px auto;
  margin-top: 20px;
  border-radius: 4px;
  border-color: white;
  border-style: solid;
  background-color: white;
  font-size: 14pt;
  color: #6771f7;
  height: 40px;
}

button[type = redirect]:hover{
  box-shadow: 0 -4px black;
}


.decks {
  display: flex;  
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.deck {
  margin-top: 10px;
  margin-left: 10px;
  background-color:#6771f7;
  width: 30%;

  border-radius: 10px;
  border-style: solid;
  text-align: center;

  padding-bottom: 20px;
}

.description {
  margin: 15px;
  background-color: white;

  border-radius: 5px;
  border-style: solid;
  text-align: center;

  text-align: left;
  padding: 10px;
}