<!DOCTYPE html>
<!-- Page to view cards in deck -->
<!-- Reference: https://flask.palletsprojects.com/en/2.1.x/tutorial/blog/ -->

{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}{{ deck['title'] }}{% endblock title %}</h1>
  {% if g.user['user_id'] == deck['owner_id'] %}
    <a class="action" href="{{ url_for('cards.add', deck_id=deck['deck_id']) }}">Add Card</a>
  {% endif %}
{% endblock %}

{% block content %}
  {% if cards %}
    <section class="cards">
      {% for card in cards %}
        <article>
          <div id="front">
            <h1>{{ card['front'] }}</h1>
          </div>
          <div id="back">
            <h1>{{ card['back'] }}</h1>
            <p>{{ card['notes'] }}</p>
          </div>
            {% if g.user['user_id'] == deck['owner_id'] %}
	      <a class="action" href="{{ url_for('cards.edit', deck_id=deck['deck_id'], card_id=card['card_id']) }}">Edit</a>
	    {% endif %}
         </article>
         {% if not loop.last %}
           <hr>
         {% endif %}
      {% endfor %}
    </section>
  {% endif %} 
{% endblock %}
