<!DOCTYPE html>
<!-- Page to view cards in deck -->
<!-- Reference: https://flask.palletsprojects.com/en/2.1.x/tutorial/blog/ -->

{% extends 'base.html' %}
{% block scripts %}
  <script src="/static/js/cards.js" defer></script>
{% endblock %}

{% block header %}
  <h1>{% block title %}{{ deck['title'] }}{% endblock title %}</h1>
  {% if g.user['user_id'] == deck['owner_id'] %}
    <a class="action" href="{{ url_for('cards.add', deck_id=deck['deck_id']) }}">Add Card</a>
  {% endif %}
{% endblock %}

{% block content %}
  <section class="cards">
    <!-- Pass JSON of card dicts to JavaScript 
         https://flask.palletsprojects.com/en/2.1.x/patterns/javascript/ --> 
    <div id="cards" data-cards='{{ cards }}'>
      <h1 id="card">No cards in deck</h1>
    </div>
    <div class="buttons">
      <button id="nextButton">Next</button>
    </div>
  </section>
{% endblock %}
