<!DOCTYPE html>
<!-- Page to create new deck -->
<!-- Reference: https://flask.palletsprojects.com/en/2.1.x/tutorial/blog/ -->

{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}New Deck{% endblock %}</h1>
{% endblock %}

{% block content %}
<div class="createdeck">
  <h2 style="color:white">Create Deck</h2>
  <form method="post">
    <label for="title">Title</label>
    <input type="text" name="title" id="title" value="{{ request.form['title'] }}" required>
    <label for="category">Category</label>
    <input type="text" name="category" id="category" value ="{{ request.form['category'] }}" required>
    <label for="description">Description</label>
    <textarea type="desc" name="description" id="description" value ="{{ request.form['description'] }}" required></textarea>
    <label for="checkbox">This is a public deck</label>
    <input type="checkbox" id="public" name="public" value = "{{ checked if value== 'public'}}">
    <input type="submit" value="Save">
  </form>

</div>

{% endblock %}
