<!DOCTYPE html>
<!-- Page to create new deck -->
<!-- Reference: https://flask.palletsprojects.com/en/2.1.x/tutorial/blog/ -->

{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}New Deck{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="title">Title</label>
    <input name="title" id="title" value="{{ request.form['title'] }}" required>
    <label for="category">Category</label>
    <input name="category" id="category" value ="{{ request.form['category'] }}" required>
    <label for="description">Description</label>
    <input name="description" id="description" value ="{{ request.form['description'] }}" required>
    <label for="public">Public? (Type: 'TRUE' or 'FALSE')</label>
    <input name="public" id="public" value ="{{ request.form['public'] }}" required>
    <input type="submit" value="Save">
  </form>
{% endblock %}
