<!DOCTYPE html>
<!-- Page to display decks choices -->
<!-- Reference: https://flask.palletsprojects.com/en/2.1.x/tutorial/blog/ -->

{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Decks{% endblock %}</h1>
  {% if g.user %}
    <a class="action" href="{{ url_for('decks.create') }}">New Deck </a>
  {% endif %}
{% endblock %}

{% block content %}
  <section class="decks">
    {% for deck in decks %}
      <header>
        <div>
          <h1>{{ deck['title'] }}</h1>
        </div>
	  {% if g.user['user_id'] == deck['owner_id'] %}
	    <a class="action" href="{{ url_for('decks.edit', deck_id=deck['deck_id']) }}">Edit</a>
	  {% endif %}
      </header>
      <p class="description">{{ deck['description'] }}</p>
      {% if not loop.last %}
        <hr>
      {% endif %}
    {% endfor %}
  </section>
{% endblock %}
