<!DOCTYPE html>
<!-- About page -->
<!-- Reference: https://flask.palletsprojects.com/en/2.1.x/tutorial/blog/ -->

{% extends 'base.html' %}

{% block header %}
  <h1>
    {% block title %}About{% endblock title %}
  </h1>
  
  {% if g.user %}
   
  {% endif %}
{% endblock %}

{% block content %}
<br>

<div style="text-align: center;">
  <img src="/static/images/salad.png" alt="About Us" width="700px" height="500px">
</div>

<p>WordSalad is a web-based flashcard study app created by Thomas Lees, Janet Matthews-Derrico, Atreyu Sutton, and Tyler Kinkade for the University of Colorado CSPB 3308 Software Development and Tools course.</p>
<p>Features:</p>
<ul>
  <li>Pre-made flashcard decks</li>
  <li>Customizable flashcard decks</li>
  <li>Share decks or keep them private</li>
  <li>Bulk flashcard upload via CSV</li>
</ul>
{% endblock %}
