<!DOCTYPE html>
<!-- About page -->
<!-- Reference: https://flask.palletsprojects.com/en/2.1.x/tutorial/blog/ -->

{% extends 'base.html' %}

{% block header %}
  <h1>
    {% block title %}About{% endblock title %}
  </h1>
  
  {% if g.user %}
   
  {% endif %}
{% endblock %}

{% block content %}
<br>

<div style="text-align: center;">
  <img src="/static/images/salad.png" alt="About Us" width="700px" height="500px">
</div>
<p>We wanted to create a web-based dynamic flashcard study app which implements a spaced-repetition algorithm to review user-input content. Traditional blocked learning (i.e., "cramming") is inefficient compared to spaced interleaved learning (Dunlosky et al., 2013; Kornell & Bjork, 2008; Mondria & Mondria-De Vries, 1994), but very few flashcard apps incorporate spaced-repetition with user content. Therefore, we want to create an easy-to-use app to enable users to study the content they want to study efficiently using spaced-repetition.
   </p>
   {% endblock %}
