<!DOCTYPE html>
<!-- Source: https://flask.palletsprojects.com/en/2.1.x/tutorial/templates/ -->
<html>
   <head>
      <title>WordSalad | {% block title %}{% endblock title %}</title>
      <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

      <!-- Fonts -->
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600&display=swap" rel="stylesheet">
   </head>
   <body>

      <nav>

            <div class="navitems">
               <a id="navWordSalad" href="/">
                  <img src="/static/images/logo.png" width="40" height="30" alt="">
                  WordSalad
               </a>
            </div>



            <ul>
               <li><a href="/">Home</a></li>
               <li><a href="/decks/">Decks</a></li>
               <li><a href="/about/">About</a></li>

	            <!-- Display username if logged in -->
               {% if g.user %}
	            <li><span>{{ g.user['username'] }}</span>
	            <li><a href="{{ url_for('auth.logout') }}">Log Out</a>
               <!-- Display register if not logged in --> 
	            {% else %}
	            <li><a href="{{ url_for('auth.register') }}">Register</a>
	            <li><a href="{{ url_for('auth.login') }}">Log In</a>
	            {% endif %}
            </ul>


      </nav>

      <section class="content">
         <header>
            {% block header %}{% endblock %}
	      </header>

	      <!-- Display error messages saved in flash() -->
	      {% for message in get_flashed_messages() %}
	         <div class="flash">{{ message }}</div>
	      {% endfor %}

         {% block content %}{% endblock %}
      </section>

   </body>
</html>
