<!DOCTYPE html>
<!-- Home page -->
<!-- Reference: https://flask.palletsprojects.com/en/2.1.x/tutorial/blog/ -->

{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}WordSalad{% endblock title %}</h1>
  {% if g.user %}
   
  {% endif %}
{% endblock %}

{% block content %}
  <h2><a href="/decks/">Decks</a></h2>
  {% for deck in decks %}
    <section class="decks">
      <header>
        <div>
          <h1>{{ deck['title'] }}</h1>
        </div>
      </header>
      <p class="description">{{ deck['description'] }}</p>
    </section>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}
