<!DOCTYPE html>
<!-- Home page -->
<!-- Reference: https://flask.palletsprojects.com/en/2.1.x/tutorial/blog/ -->


{% extends 'base.html' %}


{% block header %}
  <h1>
    {% block title %}Home{% endblock title %}
  </h1>
  
{% endblock %}


{% block content %}

<h2 style="font-size: 20px">"Welcome! Here at WordSalad you can study what you want!"</h2>
<section class="decks">
  {% for deck in decks %}
    <div class="deck">

      <h3 style="color:white">{{ deck['title'] }}</h3>
      <p class="description">{{ deck['description'] }}</p>
      <a href="{{ url_for('cards.cards', deck_id=deck['deck_id']) }}"><button type="redirect">View Deck</button></a>

    </div>

  {% endfor %}
</section>



{% endblock %}
